*.iml
.gradle
/local.properties
/.idea/
!/.idea/codeStyles/
!/.idea/vcs.xml
!/.idea/misc.xml
!/.idea/gradle.xml
!/.idea/compiler.xml
!/.idea/runConfigurations.xml
.DS_Store
build/
**/build/
.gradle/
**/build-logic/.gradle/
.externalNativeBuild
.cxx
*.apk
*.aar
*.jks
.kotlin/
/.artifacts/
